### Nick Komlanc
### Project 2
### Version 1.0
### Fall 2020

In [33]:
presidents=[['FirstName','LastName','StartTerm','EndTerm','BirthState','Born','Died','InaugurationAge','DeathAge'],
['George','Washington',1789,1797,'VA','2/22/1732','12/14/1799',57,67],
['John','Adams1',1797,1801,'MA','10/30/1735','7/4/1826',61,90],
['Thomas','Jefferson',1801,1809,'VA','4/13/1743','7/4/1826',57,83],
['James','Madison',1809,1817,'VA','3/16/1751','6/28/1836',57,85],
['James','Monroe',1817,1825,'VA','4/28/1758','7/4/1831',58,73],
['John','Adams2',1825,1829,'MA','7/11/1767','2/23/1848',57,80],
['Andrew','Jackson',1829,1837,'SC','3/15/1767','6/8/1845',61,78],
['Martin','Van Buren',1837,1841,'NY','12/5/1782','7/24/1862',54,79],
['William','Harrison1',1841,1841,'VA','2/9/1773','4/4/1841',68,68],
['John','Tyler',1841,1845,'VA','3/29/1790','1/18/1862',51,71],
['James','Polk',1845,1849,'NC','11/2/1795','6/15/1849',49,53],
['Zachary','Taylor',1849,1850,'VA','11/24/1784','7/9/1850',64,65],
['Millard','Fillmore',1850,1853,'NY','1/7/1800','3/8/1874',50,74],
['Franklin','Pierce',1853,1857,'NH','11/23/1804','10/8/1869',48,64],
['James','Buchanan',1857,1861,'PA','4/23/1791','6/1/1868',65,77],
['Abraham','Lincoln',1861,1865,'KY','2/12/1809','4/15/1865',52,56],
['Andrew','Johnson',1865,1869,'NC','12/29/1808','7/31/1875',56,66],
['Ulysses','Grant',1869,1877,'OH','4/27/1822','7/23/1885',46,63],
['Rutherford','Hayes',1877,1881,'OH','10/4/1822','1/17/1893',54,70],
['James','Garfield',1881,1881,'OH','11/19/1831','9/19/1881',49,49],
['Chester','Arthur',1881,1885,'VT','10/5/1829','11/18/1886',50,56],
['Grover','Cleveland1',1885,1889,'NJ','3/18/1837','6/24/1908',47,71],
['Benjamin','Harrison2',1889,1893,'OH','8/20/1833','3/13/1901',55,67],
['Grover','Cleveland2',1893,1897,'NJ','3/18/1837','6/24/1908',55,71]]

In [34]:
print(presidents)

[['FirstName', 'LastName', 'StartTerm', 'EndTerm', 'BirthState', 'Born', 'Died', 'InaugurationAge', 'DeathAge'], ['George', 'Washington', 1789, 1797, 'VA', '2/22/1732', '12/14/1799', 57, 67], ['John', 'Adams1', 1797, 1801, 'MA', '10/30/1735', '7/4/1826', 61, 90], ['Thomas', 'Jefferson', 1801, 1809, 'VA', '4/13/1743', '7/4/1826', 57, 83], ['James', 'Madison', 1809, 1817, 'VA', '3/16/1751', '6/28/1836', 57, 85], ['James', 'Monroe', 1817, 1825, 'VA', '4/28/1758', '7/4/1831', 58, 73], ['John', 'Adams2', 1825, 1829, 'MA', '7/11/1767', '2/23/1848', 57, 80], ['Andrew', 'Jackson', 1829, 1837, 'SC', '3/15/1767', '6/8/1845', 61, 78], ['Martin', 'Van Buren', 1837, 1841, 'NY', '12/5/1782', '7/24/1862', 54, 79], ['William', 'Harrison1', 1841, 1841, 'VA', '2/9/1773', '4/4/1841', 68, 68], ['John', 'Tyler', 1841, 1845, 'VA', '3/29/1790', '1/18/1862', 51, 71], ['James', 'Polk', 1845, 1849, 'NC', '11/2/1795', '6/15/1849', 49, 53], ['Zachary', 'Taylor', 1849, 1850, 'VA', '11/24/1784', '7/9/1850', 64, 65], ['Millard', 'Fillmore', 1850, 1853, 'NY', '1/7/1800', '3/8/1874', 50, 74], ['Franklin', 'Pierce', 1853, 1857, 'NH', '11/23/1804', '10/8/1869', 48, 64], ['James', 'Buchanan', 1857, 1861, 'PA', '4/23/1791', '6/1/1868', 65, 77], ['Abraham', 'Lincoln', 1861, 1865, 'KY', '2/12/1809', '4/15/1865', 52, 56], ['Andrew', 'Johnson', 1865, 1869, 'NC', '12/29/1808', '7/31/1875', 56, 66], ['Ulysses', 'Grant', 1869, 1877, 'OH', '4/27/1822', '7/23/1885', 46, 63], ['Rutherford', 'Hayes', 1877, 1881, 'OH', '10/4/1822', '1/17/1893', 54, 70], ['James', 'Garfield', 1881, 1881, 'OH', '11/19/1831', '9/19/1881', 49, 49], ['Chester', 'Arthur', 1881, 1885, 'VT', '10/5/1829', '11/18/1886', 50, 56], ['Grover', 'Cleveland1', 1885, 1889, 'NJ', '3/18/1837', '6/24/1908', 47, 71], ['Benjamin', 'Harrison2', 1889, 1893, 'OH', '8/20/1833', '3/13/1901', 55, 67], ['Grover', 'Cleveland2', 1893, 1897, 'NJ', '3/18/1837', '6/24/1908', 55, 71]]

In [156]:
def  extract_column(data,column):
    """shows all of the data in a certain column"""
    return [row[column] for row in data]

In [99]:
extract_column(presidents,3)
n=0
presidents = presidents[ : n ] + presidents[n+1 : ]

In [100]:
FirstName=extract_column(presidents,0)
LastName=extract_column(presidents,1)
StartTerm=extract_column(presidents,2)
EndTerm=extract_column(presidents,3)
BirthState=extract_column(presidents,4)
Born=extract_column(presidents,5)
Died=extract_column(presidents,6)
InaugarationAge=extract_column(presidents,7)
DeathAge=extract_column(presidents,8)

In [101]:
names=zip(FirstName, LastName)
print(tuple(names))

(('Thomas', 'Jefferson'), ('James', 'Madison'), ('James', 'Monroe'), ('John', 'Adams2'), ('Andrew', 'Jackson'), ('Martin', 'Van Buren'), ('William', 'Harrison1'), ('John', 'Tyler'), ('James', 'Polk'), ('Zachary', 'Taylor'), ('Millard', 'Fillmore'), ('Franklin', 'Pierce'), ('James', 'Buchanan'), ('Abraham', 'Lincoln'), ('Andrew', 'Johnson'), ('Ulysses', 'Grant'), ('Rutherford', 'Hayes'), ('James', 'Garfield'), ('Chester', 'Arthur'), ('Grover', 'Cleveland1'), ('Benjamin', 'Harrison2'), ('Grover', 'Cleveland2'))

In [102]:
sorted_names=sorted(LastName)
print(sorted_names)

['Adams2', 'Arthur', 'Buchanan', 'Cleveland1', 'Cleveland2', 'Fillmore', 'Garfield', 'Grant', 'Harrison1', 'Harrison2', 'Hayes', 'Jackson', 'Jefferson', 'Johnson', 'Lincoln', 'Madison', 'Monroe', 'Pierce', 'Polk', 'Taylor', 'Tyler', 'Van Buren']

In [103]:
import statistics

In [104]:
mean_inaug_age=statistics.mean(InaugarationAge)
mean_death_age=statistics.mean(DeathAge)
print(mean_inaug_age)
print(mean_death_age)

54.68181818181818
69.04545454545455

In [111]:
from datetime import datetime
from dateutil import relativedelta

In [157]:
def get_post_term(LastName):
    """shows the differance in years between the DeathAge of the president and the EndTerm of the president"""
    difference = relativedelta.relativedelta(DeathAge-EndTerm, yr_p)
    return years

NameError: name 'Washington' is not defined

In [134]:
import pandas as pd
import numpy as np
import datetime

In [135]:
df['year'] = pd.DatetimeIndex(df['EndTerm']).year
df.head()

mean_EndTerm=statistics.mean(EndTerm)
mean_post_presidency=mean_death_age-mean_EndTerm
print(mean_post_presidency)

NameError: name 'df' is not defined

ModuleNotFoundError: No module named 'tabulate'

In [155]:
data = {'Mean Age at Inaugaration':[mean_inaug_age]
        'Mean Age at Death':[mean_death_age]
        'Mean Number of Years after Presidency':[1]}

df1=pd.DataFrame(data, columns=['Mean Age at Inaugaration','Mean Age at Death','Mean Number of Years after Presidency'])

SyntaxError: invalid syntax (<ipython-input-155-0f499431c3c7>, line 2)

In [145]:
def convert_to_dict(LastName, DeathAge):
    return 'LastName': DeathAge

SyntaxError: invalid syntax (<ipython-input-145-7cee8934e3d6>, line 2)

In [148]:
DeathAge=extract_column(presidents,8)
n=0
presidents = presidents[ : n ] + presidents[n+1 : ]
print(DeathAge)

[73, 80, 78, 79, 68, 71, 53, 65, 74, 64, 77, 56, 66, 63, 70, 49, 56, 71, 67, 71]

In [158]:
ages = [] 
for i in DeathAge: 
    if i not in ages: 
        ages.append(i)
print(sorted(ages))

[49, 53, 56, 63, 64, 65, 66, 67, 68, 70, 71, 73, 74, 77, 78, 79, 80]